@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <button class="btn btn btn-primary" type="button" onclick="location.href='https://localhost:44328/cat.jpg'"> Kotełek </button>
    <button class="btn btn btn-primary" type="button" onclick="location.href='https://localhost:44328/smile.jpg'"> Smile </button>
    <button class="btn btn btn-primary" type="button" onclick="location.href='https://localhost:44328/nieistnieje.jpg'"> Nie istnieje </button>
</div>
