@page
@model MlodyPracownik
@{
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Mlody</title>
</head>
<body>
    <div>Jesteśmy niezmiernie wdzięczni za aplikowanie w naszej firmie. Kiedyś z pewnością się odezwiemy!</div>
</body>
</html>

